@media screen and (max-width:576px) {
    .header__img {
        width: 70%;
    }
    .menu {
        margin-right: 10px;
        display: block;
    }
    .container-fluid {
        display: block;
    }
}