p {
    margin: 0;
    padding: 0;
}

/* шрифты */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto&display=swap');
.MontserratSemiBold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.MontserratBold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.RobotoReg {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* цвета */

.text-darkPurple {
    color: #130e27;
}
.text-red {
    color: #c62314;
}

/* headre */

header {
    background-color: red;
    background-image: url('../img/Layer13.png');
}
.headre {
    display: flex;
    justify-content: space-between;
}
.nav-item:hover {
    transition: 0.3s;
    background-color: #130e27;
    border-radius: 7px;
}
h1 {
    font-size: 70px;
}
.headre__text {
    margin-left: 20px;
}

/* services */

.services__caption {
    font-size: 40px;
    margin-left: 20px;
}
i {
    font-size: 140px;
}
.service {
    text-align: center;
}
.service__text {
    max-width: 70%;
}
